.bm-burger-bars {
  z-index: -1;
}
#react-burger-menu-btn {
  display: none;
}
@media screen and (max-width: 900px){
  #react-burger-menu-btn {
    display: block;
  }
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    left: 0.5rem;
    top: 0.5rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #a4bbca;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    margin-left: -4rem;
    margin-top: -.6rem;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #c4d5e5;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #000;
    padding-left: 3rem;
    padding-top: 2rem;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -0.6rem;
  }

  .n-wrapper2 {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    top: 0;
    width: 200rem;
  }

  .n-list2 {
    flex: 10;
  }
  .n-list2 > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  .n-list2 > ul :hover {
    color: var(--blue);
    cursor: pointer;
  }
.up{
  margin-bottom: 2rem;
  }
  .s-icons {
    display: flex;
    vertical-align: left;
  }
  .s-icons > * {
    transform: scale(0.4);
  }
  .s-icons > *:hover {
    cursor: pointer;
  }
  
}
@media screen and (max-width: 583px){
  .bm-menu{
    width:120%;
  }
  .bm-item .n-wrapper2{
    margin-right: 300rem;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

@media screen and (max-width: 420px){
  .bm-menu{
    width:100%;
    margin-left: 1rem;
  }
  .bm-item .n-wrapper2{
    margin-right: 2rem;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .s-icons {
    display: flex;
    vertical-align: left;
    margin-top: 25rem;
  }
  .s-icons > * {
    margin-bottom: -.2rem;
  }
  ul {
    width: 1rem;
  }
}

